.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: -50vw;
        right: -50vw;
        background-color: #8472C6;
        z-index: -1;
    }

    &__nav {
    }

    &__list {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        & > li {
            & > a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: inherit;
                }
            }
        }
    }
}
