.homeAbout {

    &__text {
        @include fluid-font-size(12px, 20px, 400px, 1200px);
    }

    &__swiper {
        overflow: hidden;
    }

    &__slideImg {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        //filter: brightness(70%);
    }
}
