.homeHero {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    @include fluid-font-size(12px, 20px, 400px, 1200px);
    background-size: 100%;
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(14, 14, 14, 0.7);
    color: #FFFFFF;
    object-fit: contain;

    @include media-breakpoint-down(sm) {
        padding: 15px 10px;
        background-size: 120%;
    }

    &__title {
        font-weight: 700;
    }

    &__button {
        margin-top: 20px;
        align-self: center;
        @include fluid-font-size(16px, 26px, 400px, 1200px);
    }
}
