@import 'mixins/font-face';

@include font-face('Montserrat', normal, 400, '/public/assets/fonts/Montserrat-Regular.ttf', swap);
@include font-face('Montserrat', normal, 700, '/public/assets/fonts/Montserrat-Bold.ttf', swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #D7D1F3;
    overflow-x: hidden;
}

:root {
    --swiper-theme-color: #FFFFFF;
}
