@import 'mixins/fluid-font-size';
@import 'bootstrap';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'config';

@import 'components/UI/button';
@import 'components/UI/text-label';
@import 'components/card-swiper/card-swiper';

@import 'components/modals/callback-modal';
@import 'components/modals/preview-modal';
@import 'components/modals/quiz-modal';
@import 'components/form/form';

@import 'components/header/header';

@import 'components/home/index';
