.cardSwiper {
    &__card {
        height: 250px;
        border-radius: 30px;
        background-color: #8573C7;
        overflow: hidden;
    }

    &__img {
        height: 80%;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        padding: 10px;
        color: #FFFFFF;
    }
}
